<h2>確認画面</h2>


<% if @picture.id.to_s == "" %>
  <%# 新規作成の場合 %>
  <%= form_with(model: @picture, url: pictures_path, local: true) do |form| %>
    <table>
      <tr>
        <td><%= image_tag(@picture.image.url) if @picture.image && @picture.image.url %></td>
      </tr>
      <tr>
        <td><%= @picture.content%></td>
      </tr>
      <tr>
        <td><%= form.hidden_field :content %></td>
      </tr>
      <tr>
        <td><%= form.hidden_field :image_cache %></td>
      </tr>
      <tr>
        <td><%= form.submit "投稿する" %></td>
      </tr>
    </table>
  <% end %>

<% else %>
  <%# editで編集したい場合 %>
  <%= form_with(model: @picture, url: picture_path(@picture.id), local: true, method: :patch) do |form| %>
    <table>
      <tr>
        <td><%= image_tag(@picture.image.url) if @picture.image && @picture.image.url %></td>
      </tr>
      <tr>
        <td><%= @picture.content%></td>
      </tr>
      <tr>
        <td><%= form.hidden_field :content %></td>
      </tr>
      <tr>
        <td><%= form.hidden_field :image_cache %></td>
      </tr>
      <tr>
        <td><%= form.submit "投稿する" %></td>
      </tr>
    </table>
  <% end %>
<% end %>

<%= form_with(model:@picture, url:new_picture_path, local:true, method:"get") do |form| %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :image_cache %>
  <%= form.submit "戻る", name: "back" %>
<% end %>
