<h1>確認画面</h1>


<% if @picture.id.to_s == "" %>
  <%# 新規作成の場合 %>
  <%= form_with(model: @picture, url: pictures_path, local: true) do |form| %>
    <%= image_tag(@picture.image.url, size: '400x300') if @picture.image && @picture.image.url %>
    <%= @picture.content%>
    <%= form.hidden_field :content %>
    <%= form.hidden_field :image_cache %>
    <%= form.submit "投稿する" %>
  <% end %>

<% else %>
  <%# editで編集したい場合 %>
  <%= form_with(model: @picture, url: picture_path(@picture.id), local: true, method: :patch) do |form| %>
    <%= image_tag(@picture.image.url, size: '400x300') if @picture.image && @picture.image.url %>
    <%= @picture.content%>
    <%= form.hidden_field :content %>
    <%= form.hidden_field :image_cache %>
    <%= form.submit "投稿する" %>
  <% end %>
<% end %>


<%= form_with(model:@picture, url:new_picture_path, local:true, method:"get") do |form| %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :image_cache %>
  <%= form.submit "戻る", name: "back" %>
<% end %>
